# General
.codex
.env*
.github
.idea
acme.json
node_modules
secrets

# Appdata
appdata/**
!appdata/
!appdata/**/
!appdata/**/.gitkeep
!appdata/jellyfin/.gitkeep
!appdata/jellyfin/cache/.gitkeep

# Backups
# backups/*

# Configs
configs/**
!configs/
!configs/**/
!configs/**/.gitkeep

## Keep credentials out of git
configs/headscale/oidc_client_secret
configs/crowdsec/config/local_api_credentials.yaml
configs/crowdsec/config/online_api_credentials.yaml

# Data
data/**
!data/
!data/**/
!data/**/.gitkeep

# Logs (keep folder structure, ignore runtime log files)
logs/**
!logs/
!logs/**/
!logs/**/.gitkeep
